html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, summary, footer, main, aside, section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    
}

#box {
    width: 100px;
    height: 100px;
    position: absolute;
    background: gray;
    left: 200px; 
    top: 200px; 
    background-image: url("https://media.gettyimages.com/photos/passenger-plane-at-take-off-on-white-picture-id177218214?s=612x612") ;
}